<!doctype html>
<html lang="en">
  <head>
    <title>Caring Aunt</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/litera/bootstrap.min.css">
    <style>
      body {
        background-color: #f1dcdf;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand" href="/" style="width: 38%; font-size:xx-large;"><b>Caring Aunt</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/blogs" style="font-size: large;"><b>Blogs</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logIn" style="font-size: large;"><b>Log In</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about" style="font-size: large;"><b>About</b></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <hr/>
    <div class="container">
      <h2 class="text-center">ABOUT CARING AUNT</h2>
      <hr/>
      <h6>
      Caring Aunt was set up for one simple reason – to track Menstrual Cycle.
      </h6>
      <p>
      The value of our website has been recognised by:
      <br>
      
      Caring Aunt is packed with information and advice to help you become
      happier and to feel more in control of your life, in the
      little things as well as the big important issues. Whatever happen to your body
      in these phases we will notify you each and every thing and guess what all this
      in just less than your 1 meal. ALL FEATURES GOES HERE
      </p>
      <br>
      <p>
      This website gives you that knowledge, and so gives you that power. It tells you what you need to know, about
      everything that matters to you – big or small, good or bad, serious or fun. It will help you take control of your life,
      and be whatever you want to be.
      
      You can trust what we’ve written. We set Agnes up purely as a philanthropic enterprise – to help you. We haven’t been
      paid, and we’re not promoting any product or any particular point of view. There is no hidden agenda. You can find more
      about us and the history of our site here.
      
      We’ve searched far and wide to find the most helpful, reliable and up-to-date information, from books, newspapers,
      magazines and every corner of the world wide web. We’ve drawn on our own experiences and the experiences of teenage
      girls we know. We’ve pulled all this together to produce clear, simple, easily-read explanations, which get straight to
      the heart of every issue without wasting your time.
      </p>
<br>
      <p>
      Caring Aunt is designed as an online reference book, with sections and then pages within sections for you to click on. Each
      page tells you the main things you need to know about each topic, with links to other pages or websites if you want to
      find out more. Use the menus or the Search function to find what you are looking for.
      
      Every page is written by us or our contributors, but where we think there is clear and reliable information already
      available, we have linked to it without much further comment.
      </p>
<br>
      <p>
      Caring Aunt is written for girls living in the India but please let
      us know if you live elsewhere in the world and find it useful. You can contact us via Facebook or Instagram, or email us
      at caringauntteam@gmail.com. We would love to hear from you.
      </p>
    </div>
      <footer class="border-top text-center small text-muted py-3">
        <p class="m-0">
          Copyright &copy; 2020
          <a href="/" class="text-muted">Caring Aunt</a>.
      
          <br />Handmade with Love.<br />All rights
          reserved.
        </p>
      </footer>
  </body>
</html>