<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Caring Aunt</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/litera/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #f1dcdf;
      }
    </style>
  </head>

  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-danger"
      >
        <a
          class="navbar-brand"
          href="/blogs"
          style="width: 43%; font-size: xx-large;"
          ><b>Caring Aunt</b></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span
            class="navbar-toggler-icon"
          ></span>
        </button>

        <div
          class="collapse navbar-collapse"
          id="navbarColor01"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="/blogs"
                style="font-size: large;"
                ><b>Blog</b></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/logIn"
                style="font-size: large;"
                ><b>Log In</b></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/about"
                style="font-size: large;"
                ><b>About</b></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <hr />

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2020/04/pexels-photo-826349-768x512.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                Why You Should Track Your Period
              </h5>
              <p class="card-text">
                Periods are a vital part of any
                woman’s life, so it’s important to
                know when they’re happening. Not
                only will tracking your period
                help you detect any
                irregularities, but […]
              </p>
              <a
                href="/track-your-period"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2019/04/tampons-article.png"
              style="height: 230px;"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                7 Facts About Periods That You
                Needs To Know
              </h5>
              <p class="card-text">
                So you think you know everything
                there is to know about periods?
                Think again. No matter how clued
                up you are, there’s always
                something that slips through your
                radar […]
              </p>
              <a
                href="/amazing-facts"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2018/04/AG7A8417-1-768x512.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                4th Annual Helping Women Period
                Brunch
              </h5>
              <p class="card-text">
                It is hard to believe our annual
                fundraiser is over. But, the
                connection, education, networking,
                and financial support continues to
                make a tremendous impact and will
                […]
              </p>

              <a
                href="/period-brunch"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://safenhappyperiods.org/wp-content/uploads/2018/05/julia-500x450.jpg"
              style="height: 230px;"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                My First Periods
              </h5>
              <p class="card-text">
                I got my first period at the age
                of <b>13</b>, which was quite late
                comparing to my friends.I was
                really excited to get it and I
                talked about it with my
                schoolmates so I thought I will be
                prepared to finally “become a
                woman”. The […]
              </p>
              <a
                href="/my-first-periods"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.giveher5.org/blog/wp-content/uploads/2020/05/Blog-Banner-GH5.png"
              style="height: 230px;"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                Menstruation During the Lockdown
              </h5>
              <p class="card-text">
                The last few weeks have been
                life-changing. It took a lethal
                virus to change the world as we
                know it. Everything has come to a
                standstill. Globally, governments
                have implemented […]
              </p>
              <a
                href="/menst-during-lockdown"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.giveher5.org/blog/wp-content/uploads/2020/04/Copy-of-GiveHer5-3.jpg"
              style="height: 230px;"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                Alternate Methods Used for Pain
                Relief During Menstruation
              </h5>
              <p class="card-text">
                <b
                  >Yoga, pills, coffee, cannabis –
                  How do you cope with menstrual
                  pain? We at CaringAunt did a bit
                  of research on alternate
                  methods</b
                >
                […]
              </p>

              <a
                href="/pain-relief"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.giveher5.org/blog/wp-content/uploads/2020/04/GiveHer5-768x432.png"
              style="height: 230px;"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                Standards for Reusable Sanitary
                Pads
              </h5>
              <p class="card-text">
                Recently, GiveHer5 participated in
                a webinar, where the focus of
                discussion was Standards for
                Reusable Sanitary Pads. The panel
                of speakers included Sophia
                Grinvalds […]
              </p>
              <a
                href="/reusable-sanitary-pads"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer
      class="border-top text-center small text-muted py-3"
    >
      <p class="m-0">
        Copyright &copy; 2020
        <a href="/" class="text-muted"
          >Caring Aunt</a
        >.

        <br />Handmade with Love.<br />All rights
        reserved.
      </p>
    </footer>
  </body>
</html>
