<!DOCTYPE html>
<html lang="en">

<head>
  <title>Caring Aunt</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/litera/bootstrap.min.css" />
  <style>
    body {
      background-color: #f1dcdf;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <a class="navbar-brand" href="/blogs" style="width: 43%; font-size: xx-large;"><b>Caring Aunt</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/blogs" style="font-size: large;"><b>Blog</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logIn" style="font-size: large;"><b>Log In</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" style="font-size: large;"><b>About</b></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <hr />

  <div class="container">
    <h3 style="text-align: center;">
      Standards for Reusable Sanitary Pads – Key takeaways from the Menstrual Health Standards Webinar
    </h3>
    <hr />
    <img class="card-img-top center pb-4" style="height: 350px; width: 50%;"
      src="https://www.giveher5.org/blog/wp-content/uploads/2020/04/GiveHer5-768x432.png" alt="Card image cap" />
    <p>Recently, GiveHer5 participated in a webinar, where the focus of discussion was Standards for Reusable Sanitary Pads. The
    panel of speakers included Sophia Grinvalds (AFRIpads), Torben Holm Larsen (RealRelief), Audrey Anderson Duckett (Be
    Girl), Ina Jurga (International Coordinator MH Day/ WASH United) and Shivani Swamy (Livinguard).
      <br><br>
      The webinar was a part of a series co-hosted by the Menstrual Health Alliance of India, the African Coalition for
      Menstrual Health Management, MH Day and the Reproductive Health Supplies Coalition.
      <br><br>
      <b>Why are product standards so important?</b> Because when there is an absence of product standards, the manufacturers won’t
      be held accountable for the quality of the product. Retailers, NGOs and distributors will be able to sell the product
      irrespective of the quality, performance and durability. The government and regulatory bodies will have minimal
      frameworks to inspect, certify and enforce quality of menstrual hygiene products on the market. The consumers and
      beneficiaries will have inadequate protections and assurances about the quality, safety and function of the products
      they use.
      <br><br>
      There’s again a lot of questions on whether the existing protocols for skin safety cytotoxicity are as effective as they
      should be, but there has to be some lowest common denominator with which we have to look at product safety.
      <br><br>
      <b>There are certain things to keep in mind when making these reusable products.</b>
      <br><br>
      We are seeing so many of these small scale enterprises making ads, and then the question becomes do they really need to
      go for the same standard approval or can there be a lower-end version of that. It is a question, and it’s a little
      tough, and there has been a lot of back and forth on the panel we have in India creating the standard, but it is an
      effort we are making now to go towards that.
      <br><br>
      I have just one last point on the question of design. I agree I don’t think that the design should be something we have
      very formalised in our standards because this kind of stands in the way of innovation. If companies don’t think they can
      design new shapes and new product types to deal with something because it wouldn’t get approval within the standard or
      wouldn’t fall under the purview of the standard that could actually stop them from coming up with a solution that could
      do a lot better than any of the solutions that we have out there right now. So we need to make it conducive for people
      to innovate.
      <br><br>
    <footer class="blockquote-footer">Dr. Kiara Negi <cite title="Source Title">CaringAunt Team</cite></footer>
    </p>
  </div>

  <footer class="border-top text-center small text-muted py-3">
    <p class="m-0">
      Copyright &copy; 2020
      <a href="/" class="text-muted">Caring Aunt</a>.

      <br />Handmade with Love.<br />All rights
      reserved.
    </p>
  </footer>
</body>

</html>